<div class="container mt-3">
  <h1>Restaurants of The Elder Scrolls</h1>
  <% @restaurants.each do |restaurant| %>
    <p><%= link_to "#{restaurant.name}", restaurant_path(restaurant), class: "text-decoration-none text-dark" %></p>
  <% end %>
  <%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-secondary text-decoration-none mt-3" %>
</div>
